<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <title>Modo Administrador</title>
</head>
<body>
    <div class="content">
        <a class="btn btn-secondary" href="index.html">Volver a Escaner</a>
        <h1>Bienvenido al Modo Admnistrador <b><center></br>¿En que lo puedo ayudar?</b></h1>
        <ul>
            <li><a href="alumnos.php"><button class="opcion">Alumnos</button></a></li>
            <li><a href="nuevo_alumno.php"><button class="opcion">Nuevo Alumno</button></a></li>
            <li><a href="asistencias.php"><button class="opcion">Asistencias</button></a></li>
            <li><a href="graficos.html"><button class="opcion">Estadisticas</button></a></li>
            <li><a href="../procesadores/exportar_excel.php"><button class="opcion">Exportar datos en excel</button></a></li>
        </ul>
        <img src="../assets/img/mascotra_istp_cañete sin fondo.png" alt="">
    </div>
</body>
</html>